body{
  /* background: linear-gradient(217deg, rgba(175, 175, 175, 0.8), rgba(58, 248, 255, 0) 70.71%),
            linear-gradient(127deg, rgba(72, 175, 167, 0.8), rgba(29, 92, 89, 0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
            background: url("https://media.tarkett-image.com/large-high/IN_HP_Venetto_xf2_2mm_148716638_001.jpg"); 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.list-group-item{
    background: #cccccc;
}
input.form-control.loginform,input.form-control.loginform:focus{
    background-color: #6c757d;
    color: rgb(255, 255, 255);
    border: 1px solid #000000;

}

input.form-control.pacientiform,input.form-control.pacientiform:focus{
    background-color: #6c757d;
    color: rgb(255, 255, 255);
    border: 1px solid #000000;

}
input.form-control:focus{
    box-shadow: none;
}

button.btn.pacientibutton{
    background-color: #535353;
    color: white
}
button.btn.loginbutton{
    border-radius: 20px;
    background-color: #535353;
    color: rgb(0, 0, 0);
}


div.form-group label:not(.text-danger){
    color: #000000;
    font-weight: 700;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: rgb(255, 57, 57);
    padding-left: 5px;
}

#toast-container > div {
    opacity:1;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 50px;
  }

  .modal-body {
    background: #cccccc;
  }
  .modal-header {
    background: #535353;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: white
    
  }
  button.close {
    text-shadow: 0 1px 0;
  }
  .wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #cccccc;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }

  /* Tabs */
.tab-header{
    text-align: center;
}

  .tab-header h2.active {
    color: #000000;
    border-bottom: 4px solid #000000;
  }

  .tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #707070;
    border-bottom: 2px solid #707070;
  }


  .tab-header h2:focus {
      outline: none;
  }

  form{
      margin: 0px 16px;
  }

 div.form-group input.invalid{
    border: 1px solid #dc3545; 
 }
 div.form-group label:first-child{
    text-transform: uppercase;
    font-size: 0.9rem;
 }
 thead {
     background: #cccccc
 }
 .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid black;
    
  }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid  black;
    border-top: 2px solid  black;

  }
  .table {
    margin-bottom: 0;
  }
  

  /*calendar*/
  .e-input-group.e-date-wrapper.e-custom-style:not(.e-float-icon-left)::before, /* csslint allow: adjoining-classes*/
.e-input-group.e-date-wrapper.e-custom-style:not(.e-float-icon-left)::after /* csslint allow: adjoining-classes*/
{ /* csslint allow: adjoining-classes*/
    background: #6c757d;
}

.e-date-wrapper.e-custom-style input.e-input::selection { /* csslint allow: adjoining-classes*/
    background:#535353;
}
.e-date-wrapper.e-custom-style input.e-input::-moz-selection { /* csslint allow: adjoining-classes*/
    background: #535353;
}


.e-date-wrapper.e-custom-style .e-input-group-icon.e-date-icon.e-icons, /* csslint allow: adjoining-classes*/
.e-date-wrapper.e-custom-style .e-input { /* csslint allow: adjoining-classes*/
    color: #6c757d;
}

.e-date-wrapper.e-custom-style .e-input-group-icon.e-date-icon.e-icons.e-active {  /* csslint allow: adjoining-classes*/
    color:#535353;
}

